In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("deliveries.csv")
df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
5,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,6,S Dhawan,DA Warner,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,7,S Dhawan,DA Warner,TS Mills,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
7,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,1,S Dhawan,DA Warner,A Choudhary,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
8,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,2,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
9,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,3,DA Warner,S Dhawan,A Choudhary,0,...,0,0,1,0,0,1,1,NaN,NaN,NaN
10,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,4,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
11,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,5,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,0,0,0,DA Warner,caught,Mandeep Singh
12,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,6,MC Henriques,S Dhawan,A Choudhary,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
13,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,7,MC Henriques,S Dhawan,A Choudhary,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
14,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,1,S Dhawan,MC Henriques,TS Mills,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
15,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,2,MC Henriques,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
16,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,3,MC Henriques,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
17,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,4,MC Henriques,S Dhawan,TS Mills,0,...,0,0,0,0,3,0,3,NaN,NaN,NaN
18,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,5,S Dhawan,MC Henriques,TS Mills,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
19,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,6,MC Henriques,S Dhawan,TS Mills,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
20,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,1,MC Henriques,S Dhawan,YS Chahal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
21,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,2,MC Henriques,S Dhawan,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
22,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,3,S Dhawan,MC Henriques,YS Chahal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
23,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,4,S Dhawan,MC Henriques,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
24,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,5,MC Henriques,S Dhawan,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
25,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,6,S Dhawan,MC Henriques,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
26,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,5,1,S Dhawan,MC Henriques,S Aravind,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
27,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,5,2,MC Henriques,S Dhawan,S Aravind,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
28,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,5,3,S Dhawan,MC Henriques,S Aravind,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
29,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,5,4,MC Henriques,S Dhawan,S Aravind,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179048,11415,2,Chennai Super Kings,Mumbai Indians,16,1,DJ Bravo,SR Watson,SL Malinga,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
179049,11415,2,Chennai Super Kings,Mumbai Indians,16,2,DJ Bravo,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179050,11415,2,Chennai Super Kings,Mumbai Indians,16,3,SR Watson,DJ Bravo,SL Malinga,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
179051,11415,2,Chennai Super Kings,Mumbai Indians,16,4,SR Watson,DJ Bravo,SL Malinga,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
179052,11415,2,Chennai Super Kings,Mumbai Indians,16,5,SR Watson,DJ Bravo,SL Malinga,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
179053,11415,2,Chennai Super Kings,Mumbai Indians,16,6,SR Watson,DJ Bravo,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179054,11415,2,Chennai Super Kings,Mumbai Indians,17,1,SR Watson,DJ Bravo,JJ Bumrah,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179055,11415,2,Chennai Super Kings,Mumbai Indians,17,2,DJ Bravo,SR Watson,JJ Bumrah,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179056,11415,2,Chennai Super Kings,Mumbai Indians,17,3,SR Watson,DJ Bravo,JJ Bumrah,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
179057,11415,2,Chennai Super Kings,Mumbai Indians,17,4,SR Watson,DJ Bravo,JJ Bumrah,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
179058,11415,2,Chennai Super Kings,Mumbai Indians,17,5,SR Watson,DJ Bravo,JJ Bumrah,0,...,1,0,0,0,1,1,2,NaN,NaN,NaN
179059,11415,2,Chennai Super Kings,Mumbai Indians,17,6,DJ Bravo,SR Watson,JJ Bumrah,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179060,11415,2,Chennai Super Kings,Mumbai Indians,18,1,DJ Bravo,SR Watson,KH Pandya,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179061,11415,2,Chennai Super Kings,Mumbai Indians,18,2,SR Watson,DJ Bravo,KH Pandya,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
179062,11415,2,Chennai Super Kings,Mumbai Indians,18,3,SR Watson,DJ Bravo,KH Pandya,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
179063,11415,2,Chennai Super Kings,Mumbai Indians,18,4,SR Watson,DJ Bravo,KH Pandya,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
179064,11415,2,Chennai Super Kings,Mumbai Indians,18,5,SR Watson,DJ Bravo,KH Pandya,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
179065,11415,2,Chennai Super Kings,Mumbai Indians,18,6,SR Watson,DJ Bravo,KH Pandya,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179066,11415,2,Chennai Super Kings,Mumbai Indians,19,1,SR Watson,DJ Bravo,JJ Bumrah,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179067,11415,2,Chennai Super Kings,Mumbai Indians,19,2,DJ Bravo,SR Watson,JJ Bumrah,0,...,0,0,0,0,0,0,0,DJ Bravo,caught,Q de Kock
179068,11415,2,Chennai Super Kings,Mumbai Indians,19,3,RA Jadeja,SR Watson,JJ Bumrah,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179069,11415,2,Chennai Super Kings,Mumbai Indians,19,4,RA Jadeja,SR Watson,JJ Bumrah,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
179070,11415,2,Chennai Super Kings,Mumbai Indians,19,5,RA Jadeja,SR Watson,JJ Bumrah,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179071,11415,2,Chennai Super Kings,Mumbai Indians,19,6,RA Jadeja,SR Watson,JJ Bumrah,0,...,4,0,0,0,4,4,8,NaN,NaN,NaN
179072,11415,2,Chennai Super Kings,Mumbai Indians,20,1,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

<h3>Which bowler has hit for maximum number of 1s</h3>

In [3]:
df2 = df.query(" total_runs == '1' ")
df2.groupby('bowler')[['total_runs']].count().sort_values('total_runs',ascending=False).head(5)

                 total_runs
bowler
Harbhajan Singh        1549
R Ashwin               1415
A Mishra               1414
PP Chawla              1311
DJ Bravo               1189

<h3>Which batsman got stumped out maximum number of times?</h3>

In [4]:
df.query("dismissal_kind=='stumped'")[['player_dismissed','dismissal_kind']].groupby('player_dismissed').count().sort_values('dismissal_kind',ascending = False).head(3)

                  dismissal_kind
player_dismissed
SK Raina                       8
RV Uthappa                     7
AT Rayudu                      7

In [7]:
df2 = pd.read_csv("matches.csv")

<h3>Which team has won maximum number of matches while chasing?</h3>

In [8]:

df3= df2.query(("toss_decision=='field' and toss_winner == winner or toss_decision=='bat' and toss_winner != winner"))[['id','winner']].groupby('winner').count().reset_index().sort_values('id',ascending=False).head(5)
df3

                         winner  id
7         Kolkata Knight Riders  58
8                Mumbai Indians  51
0           Chennai Super Kings  49
13  Royal Challengers Bangalore  49
10             Rajasthan Royals  46

<h3>Which team has lost maximum number of matches while chasing?</h3>

In [9]:
df4 = df2.query(("toss_decision=='field' & (toss_winner != winner )or toss_decision=='bat' & (toss_winner == winner)"))[['id','winner']].groupby('winner').count().reset_index().sort_values('id',ascending=False).head(5)
df4

                         winner  id
8                Mumbai Indians  58
0           Chennai Super Kings  51
5               Kings XI Punjab  38
12  Royal Challengers Bangalore  35
7         Kolkata Knight Riders  34

<h3>Which toss decision is best for each ground?</h3>

In [10]:
df_field_win = df2[df2['toss_winner']==df2['winner']].query("toss_decision=='field'")[['winner','venue']].groupby('venue').count()
df_bat_win = df2[df2['toss_winner']==df2['winner']].query("toss_decision=='bat'")[['winner','venue']].groupby('venue').count()
df_bat_win
df_field_win.merge(df_bat_win,on='venue',suffixes=('_field','_bat')).head(3)

                       winner_field  winner_bat
venue
Barabati Stadium                  3           2
Brabourne Stadium                 3           4
De Beers Diamond Oval             1           1

<h3>Which player has won maximum number of MoM awards while chasing?</h3>

In [11]:
df2 = df2[df2['win_by_wickets']>0][['player_of_match','win_by_wickets']]
playerdm= df2.groupby('player_of_match').count()
playerdm[playerdm.win_by_wickets==playerdm.win_by_wickets.max()]

                 win_by_wickets
player_of_match
YK Pathan                    11

<h3>Which batsman has played maximum number of dot balls?</h3>

In [12]:
dot_balls_df = df.query('total_runs==0')[['batsman','total_runs']]
new_df = dot_balls_df.groupby('batsman').count()
new_df[new_df.total_runs == new_df.total_runs.max()]

         total_runs
batsman
V Kohli        1369

<h3>Which non-striker has been part of maximum number of runouts?</h3>

In [13]:
df_new = df.query('dismissal_kind == "run out"')[['dismissal_kind','non_striker']]
df4 = df_new.groupby('non_striker').count()
df4[df4.dismissal_kind == df4.dismissal_kind.max()]

             dismissal_kind
non_striker
KD Karthik               16
SK Raina                 16

<h3>The number of venues in each season</h3>

In [14]:
matches = pd.read_csv("matches.csv")
matches[['season','venue']].groupby('season').count()

        venue
season
2008       58
2009       57
2010       60
2011       73
2012       74
2013       76
2014       60
2015       59
2016       60
2017       59
2018       60
2019       60

<h3>How many matches played by each team and how many won</h3>

In [15]:
new_df = pd.concat([matches['team1'],matches['team2']]).value_counts().reset_index()
new_df.columns=['index','matches_played']
match_won = matches['winner'].value_counts().reset_index()
new_df.merge(match_won,on='index')

                          index  matches_played  winner
0                Mumbai Indians             187     109
1   Royal Challengers Bangalore             180      84
2         Kolkata Knight Riders             178      92
3               Kings XI Punjab             176      82
4           Chennai Super Kings             164     100
5              Delhi Daredevils             161      67
6              Rajasthan Royals             147      75
7           Sunrisers Hyderabad             108      58
8               Deccan Chargers              75      29
9                 Pune Warriors              46      12
10                Gujarat Lions              30      13
11               Delhi Capitals              16      10
12       Rising Pune Supergiant              16      10
13      Rising Pune Supergiants              14       5
14         Kochi Tuskers Kerala              14       6

<h3>Which venue was the most used throughout the history of IPL</h3>

In [17]:
df2 = pd.read_csv("matches.csv")

In [18]:
df2['venue'].value_counts().reset_index().head(5)

                                       index  venue
0                               Eden Gardens     77
1                      M Chinnaswamy Stadium     73
2                           Wankhede Stadium     73
3                           Feroz Shah Kotla     67
4  Rajiv Gandhi International Stadium, Uppal     56

<h3>Most favorite umpire</h3>

In [19]:
df_umpires = pd.concat([df2['umpire1'],df2['umpire2']])
df_umpires =  df_umpires.value_counts().reset_index()
df_umpires.columns = ['umpire','matches']
df_umpires.head(3)

            umpire  matches
0           S Ravi      106
1  HDPK Dharmasena       87
2    C Shamshuddin       73

<h3>Total number of ties in each season</h3>

In [20]:
df2.query('result=="tie"')[['result','season']].groupby('season').count()

        result
season
2009         1
2010         1
2013         2
2014         1
2015         1
2017         1
2019         2